<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuZzworthy Burgers</title>
    <!-- Linking Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Linking Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Linking my CSS and JS files -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <script src="/public/assets/js/burgers.js"></script>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <img class = "burger-logo" src="/public/assets/images/burger.png" alt="burger logo">
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-12">
                <h2>buZzworthy burgers</h2>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "col-md-12">
                <div class = "textbox">
                    <input type = "text" name = "burgername" class = "burger-input"> 
                    </textarea>
                </div>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "col-md-12">
                <div class = "submit">
                    <input class = "submit-button" type = "submit" name = "Submit">
                </div>
                <br>
            </div>
        </div>
    </div>
    {{{ body }}}
</body>
</html>