.burger-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2 {
    text-align: center;
    font-family: "Courier New", Courier, monospace
}

body {
    background-color: #DAE6D2;
}

.textbox {
    text-align: center;
}

.submit {
    text-align: center;
}

ul {
    list-style-type: none;
}

.not-eaten {
    float: left;
}

.devour-button {
    margin: 0 5px 0 5px;
}